sc0/data.db
backup/
sc0/database.py
sc0/spiders/__pycache__/
sc0/__pycache__/
sc0/ensonhaber.db
sc0/sozcu.db
sc0/eggs/
sc0/logs/
dbs
runner_sere
sc0/dbs/
build/
sc0/dbs/sc0.db
project.egg-info/
sc0/tbmm.db
sc0/haberler.db
sc0/eksisozluk.db
.idea/
s.txt
